USE [master]
GO
/****** Object:  Database [pdan_bd_sistema_riesgo_crediticio]    Script Date: 22/05/2026 22:05:46 ******/
CREATE DATABASE [pdan_bd_sistema_riesgo_crediticio]
 CONTAINMENT = NONE
 ON  PRIMARY 

ALTER DATABASE [pdan_bd_sistema_riesgo_crediticio] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pdan_bd_sistema_riesgo_crediticio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pdan_bd_sistema_riesgo_crediticio]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 22/05/2026 22:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_cliente] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[creditos]    Script Date: 22/05/2026 22:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[creditos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[evaluacion_crediticia_id] [int] NOT NULL,
	[monto] [decimal](18, 2) NOT NULL,
	[plazo_meses] [int] NOT NULL,
	[tea] [decimal](10, 2) NOT NULL,
	[tcea] [decimal](10, 2) NOT NULL,
	[valor_cuota] [decimal](18, 2) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[fecha_desembolso] [datetime] NOT NULL,
	[numero_credito] [int] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[estado] [varchar](100) NOT NULL,
	[saldo_credito] [decimal](18, 2) NOT NULL,
	[desgravamen] [decimal](18, 2) NOT NULL,
	[cuenta_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuentas]    Script Date: 22/05/2026 22:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[num_cuenta] [varchar](50) NOT NULL,
	[cci] [varchar](55) NOT NULL,
	[num_tarjeta] [varchar](30) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[moneda] [varchar](50) NOT NULL,
	[saldo] [decimal](18, 2) NOT NULL,
	[tipo_cuenta_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuentas_clientes]    Script Date: 22/05/2026 22:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas_clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[cuenta_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuotas]    Script Date: 22/05/2026 22:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuotas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[credito_id] [int] NOT NULL,
	[num_cuota] [int] NOT NULL,
	[fecha_vencimiento] [datetime] NOT NULL,
	[capital] [decimal](18, 2) NOT NULL,
	[intereses] [decimal](18, 2) NOT NULL,
	[seguros] [decimal](18, 2) NOT NULL,
	[total_cuota] [decimal](18, 2) NOT NULL,
	[estado] [varchar](30) NOT NULL,
	[tasa_mora] [decimal](10, 2) NOT NULL,
	[saldo_cuota] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_cuotas_pagos]    Script Date: 22/05/2026 22:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_cuotas_pagos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cuota_id] [int] NOT NULL,
	[pago_id] [int] NOT NULL,
	[monto_pagado] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluaciones_crediticias]    Script Date: 22/05/2026 22:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluaciones_crediticias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[solicitud_id] [int] NOT NULL,
	[score_riesgo] [decimal](10, 2) NOT NULL,
	[nivel_endeudamiento] [decimal](10, 2) NOT NULL,
	[deuda_activa] [decimal](18, 2) NOT NULL,
	[deuda_activa_otras_entidades] [decimal](18, 2) NOT NULL,
	[linea_credito] [decimal](18, 2) NOT NULL,
	[linea_credito_otras_entidades] [decimal](18, 2) NOT NULL,
	[valor_patrimonio] [decimal](18, 2) NOT NULL,
	[ingresos_mensuales] [decimal](18, 2) NOT NULL,
	[resultado] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 22/05/2026 22:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[num_operacion] [varchar](50) NULL,
	[monto] [decimal](18, 2) NULL,
	[fecha_pago] [datetime] NULL,
	[metodo_pago] [varchar](50) NULL,
	[observaciones] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personas_juridicas]    Script Date: 22/05/2026 22:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas_juridicas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ruc] [varchar](11) NOT NULL,
	[razon_social] [varchar](255) NOT NULL,
	[nombre_comercial] [varchar](255) NULL,
	[tipo_empresa] [varchar](100) NOT NULL,
	[representante_legal] [varchar](200) NOT NULL,
	[sector_economico] [varchar](100) NULL,
	[direccion] [varchar](255) NOT NULL,
	[ubigeo] [char](6) NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](255) NULL,
	[fecha_constitucion] [date] NOT NULL,
	[estado_empresa] [varchar](50) NOT NULL,
	[inicio_actividades] [date] NOT NULL,
	[numero_empleados] [int] NULL,
	[cliente_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personas_naturales]    Script Date: 22/05/2026 22:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas_naturales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero_documento] [varchar](15) NOT NULL,
	[nombres] [varchar](255) NOT NULL,
	[apellido_paterno] [varchar](255) NOT NULL,
	[apellido_materno] [varchar](255) NOT NULL,
	[celular] [varchar](20) NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[ubigeo] [char](6) NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[estado_civil] [varchar](10) NOT NULL,
	[genero] [varchar](10) NOT NULL,
	[situacion_laboral] [varchar](100) NULL,
	[cliente_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos_crediticios]    Script Date: 22/05/2026 22:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos_crediticios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](155) NOT NULL,
	[monto_minimo] [decimal](18, 2) NOT NULL,
	[monto_maximo] [decimal](18, 2) NOT NULL,
	[tasa_interes_minima] [decimal](9, 2) NOT NULL,
	[tasa_interes_maxima] [decimal](9, 2) NOT NULL,
	[plazo_minimo_meses] [int] NOT NULL,
	[plazo_maximo_meses] [int] NOT NULL,
	[estado] [varchar](55) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solicitudes]    Script Date: 22/05/2026 22:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solicitudes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[producto_crediticio_id] [int] NOT NULL,
	[codigo_solicitud] [varchar](50) NOT NULL,
	[fecha_solicitud] [datetime] NOT NULL,
	[monto_solicitado] [decimal](18, 2) NOT NULL,
	[moneda_solicitada] [varchar](10) NOT NULL,
	[estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_cuenta]    Script Date: 22/05/2026 22:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_cuenta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id], [tipo_cliente]) VALUES (1, N'N')
INSERT [dbo].[clientes] ([id], [tipo_cliente]) VALUES (2, N'N')
INSERT [dbo].[clientes] ([id], [tipo_cliente]) VALUES (3, N'N')
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[creditos] ON 

SET IDENTITY_INSERT [dbo].[creditos] OFF
GO
SET IDENTITY_INSERT [dbo].[cuentas] ON 

INSERT [dbo].[cuentas] ([id], [num_cuenta], [cci], [num_tarjeta], [fecha_creacion], [moneda], [saldo], [tipo_cuenta_id]) VALUES (1, N'104500000001', N'002104500000001', N'4532123456780001', CAST(N'2025-06-11T20:34:44.890' AS DateTime), N'USD', CAST(34330.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[cuentas] ([id], [num_cuenta], [cci], [num_tarjeta], [fecha_creacion], [moneda], [saldo], [tipo_cuenta_id]) VALUES (4, N'104500000002', N'002104500000002', N'4532123456780002', CAST(N'2025-06-14T20:51:46.643' AS DateTime), N'EUR', CAST(28692.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[cuentas] ([id], [num_cuenta], [cci], [num_tarjeta], [fecha_creacion], [moneda], [saldo], [tipo_cuenta_id]) VALUES (5, N'104500000003', N'002104500000003', N'4532123456780003', CAST(N'2025-05-28T20:51:46.643' AS DateTime), N'PEN', CAST(5390.00 AS Decimal(18, 2)), 3)
GO
SET IDENTITY_INSERT [dbo].[cuentas] OFF
GO
SET IDENTITY_INSERT [dbo].[cuentas_clientes] ON 

INSERT [dbo].[cuentas_clientes] ([id], [cliente_id], [cuenta_id]) VALUES (1, 1, 1)
INSERT [dbo].[cuentas_clientes] ([id], [cliente_id], [cuenta_id]) VALUES (37, 1, 39)
INSERT [dbo].[cuentas_clientes] ([id], [cliente_id], [cuenta_id]) VALUES (73, 1, 75)
GO
SET IDENTITY_INSERT [dbo].[cuentas_clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[cuotas] ON 

INSERT [dbo].[cuotas] ([id], [credito_id], [num_cuota], [fecha_vencimiento], [capital], [intereses], [seguros], [total_cuota], [estado], [tasa_mora], [saldo_cuota]) VALUES (13, 3, 1, CAST(N'2025-08-26T00:00:00.000' AS DateTime), CAST(592.35 AS Decimal(18, 2)), CAST(111.07 AS Decimal(18, 2)), CAST(37.02 AS Decimal(18, 2)), CAST(740.44 AS Decimal(18, 2)), N'pagada parcialmente', CAST(6.00 AS Decimal(10, 2)), CAST(296.18 AS Decimal(18, 2)))
INSERT [dbo].[cuotas] ([id], [credito_id], [num_cuota], [fecha_vencimiento], [capital], [intereses], [seguros], [total_cuota], [estado], [tasa_mora], [saldo_cuota]) VALUES (14, 4, 1, CAST(N'2025-08-11T00:00:00.000' AS DateTime), CAST(679.98 AS Decimal(18, 2)), CAST(127.50 AS Decimal(18, 2)), CAST(42.50 AS Decimal(18, 2)), CAST(849.98 AS Decimal(18, 2)), N'pagada', CAST(4.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[cuotas] ([id], [credito_id], [num_cuota], [fecha_vencimiento], [capital], [intereses], [seguros], [total_cuota], [estado], [tasa_mora], [saldo_cuota]) VALUES (15, 5, 1, CAST(N'2026-01-29T00:00:00.000' AS DateTime), CAST(178.25 AS Decimal(18, 2)), CAST(33.42 AS Decimal(18, 2)), CAST(11.14 AS Decimal(18, 2)), CAST(222.81 AS Decimal(18, 2)), N'pagada', CAST(4.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[cuotas] OFF
GO
SET IDENTITY_INSERT [dbo].[detalle_cuotas_pagos] ON 

INSERT [dbo].[detalle_cuotas_pagos] ([id], [cuota_id], [pago_id], [monto_pagado]) VALUES (1, 13, 558, CAST(444.26 AS Decimal(18, 2)))
INSERT [dbo].[detalle_cuotas_pagos] ([id], [cuota_id], [pago_id], [monto_pagado]) VALUES (2, 14, 559, CAST(849.98 AS Decimal(18, 2)))
INSERT [dbo].[detalle_cuotas_pagos] ([id], [cuota_id], [pago_id], [monto_pagado]) VALUES (3, 15, 560, CAST(222.81 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[detalle_cuotas_pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[evaluaciones_crediticias] ON 

INSERT [dbo].[evaluaciones_crediticias] ([id], [solicitud_id], [score_riesgo], [nivel_endeudamiento], [deuda_activa], [deuda_activa_otras_entidades], [linea_credito], [linea_credito_otras_entidades], [valor_patrimonio], [ingresos_mensuales], [resultado]) VALUES (1, 1, CAST(837.00 AS Decimal(10, 2)), CAST(38.00 AS Decimal(10, 2)), CAST(20835.00 AS Decimal(18, 2)), CAST(2440.00 AS Decimal(18, 2)), CAST(8662.00 AS Decimal(18, 2)), CAST(10254.00 AS Decimal(18, 2)), CAST(363854.00 AS Decimal(18, 2)), CAST(5292.00 AS Decimal(18, 2)), N'En análisis')
INSERT [dbo].[evaluaciones_crediticias] ([id], [solicitud_id], [score_riesgo], [nivel_endeudamiento], [deuda_activa], [deuda_activa_otras_entidades], [linea_credito], [linea_credito_otras_entidades], [valor_patrimonio], [ingresos_mensuales], [resultado]) VALUES (2, 2, CAST(420.00 AS Decimal(10, 2)), CAST(14.00 AS Decimal(10, 2)), CAST(20174.00 AS Decimal(18, 2)), CAST(15444.00 AS Decimal(18, 2)), CAST(16942.00 AS Decimal(18, 2)), CAST(1383.00 AS Decimal(18, 2)), CAST(232273.00 AS Decimal(18, 2)), CAST(3684.00 AS Decimal(18, 2)), N'Aprobado')
INSERT [dbo].[evaluaciones_crediticias] ([id], [solicitud_id], [score_riesgo], [nivel_endeudamiento], [deuda_activa], [deuda_activa_otras_entidades], [linea_credito], [linea_credito_otras_entidades], [valor_patrimonio], [ingresos_mensuales], [resultado]) VALUES (3, 3, CAST(316.00 AS Decimal(10, 2)), CAST(23.00 AS Decimal(10, 2)), CAST(5094.00 AS Decimal(18, 2)), CAST(1788.00 AS Decimal(18, 2)), CAST(26772.00 AS Decimal(18, 2)), CAST(7442.00 AS Decimal(18, 2)), CAST(344176.00 AS Decimal(18, 2)), CAST(12223.00 AS Decimal(18, 2)), N'Rechazado')
SET IDENTITY_INSERT [dbo].[evaluaciones_crediticias] OFF
GO
SET IDENTITY_INSERT [dbo].[pagos] ON 

INSERT [dbo].[pagos] ([id], [num_operacion], [monto], [fecha_pago], [metodo_pago], [observaciones]) VALUES (558, N'OP-000013', CAST(444.26 AS Decimal(18, 2)), CAST(N'2025-08-26T00:00:00.000' AS DateTime), N'Yape', N'Pago automático generado')
INSERT [dbo].[pagos] ([id], [num_operacion], [monto], [fecha_pago], [metodo_pago], [observaciones]) VALUES (559, N'OP-000014', CAST(849.98 AS Decimal(18, 2)), CAST(N'2025-08-11T00:00:00.000' AS DateTime), N'Ventanilla', N'Pago automático generado')
INSERT [dbo].[pagos] ([id], [num_operacion], [monto], [fecha_pago], [metodo_pago], [observaciones]) VALUES (560, N'OP-000015', CAST(222.81 AS Decimal(18, 2)), CAST(N'2026-02-07T00:00:00.000' AS DateTime), N'Ventanilla', N'Pago automático generado')
GO
SET IDENTITY_INSERT [dbo].[pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[personas_juridicas] ON 

INSERT [dbo].[personas_juridicas] ([id], [ruc], [razon_social], [nombre_comercial], [tipo_empresa], [representante_legal], [sector_economico], [direccion], [ubigeo], [telefono], [correo], [fecha_constitucion], [estado_empresa], [inicio_actividades], [numero_empleados], [cliente_id]) VALUES (1, N'20111111111', N'Tecnologías Andinas SAC', N'TecAndes', N'SAC', N'Carlos Ramírez Soto', N'Tecnología', N'Av. Benavides 500', N'150111', N'014567891', N'contacto@tecandes.com', CAST(N'2015-05-10' AS Date), N'Activo', CAST(N'2015-06-01' AS Date), 45, 11)
INSERT [dbo].[personas_juridicas] ([id], [ruc], [razon_social], [nombre_comercial], [tipo_empresa], [representante_legal], [sector_economico], [direccion], [ubigeo], [telefono], [correo], [fecha_constitucion], [estado_empresa], [inicio_actividades], [numero_empleados], [cliente_id]) VALUES (2, N'20222222222', N'Constructora Horizonte SA', N'Horizonte', N'SA', N'Pedro Salinas Vega', N'Construcción', N'Av. Primavera 800', N'150112', N'014567892', N'ventas@horizonte.com', CAST(N'2012-09-14' AS Date), N'Activo', CAST(N'2012-10-01' AS Date), 150, 12)
INSERT [dbo].[personas_juridicas] ([id], [ruc], [razon_social], [nombre_comercial], [tipo_empresa], [representante_legal], [sector_economico], [direccion], [ubigeo], [telefono], [correo], [fecha_constitucion], [estado_empresa], [inicio_actividades], [numero_empleados], [cliente_id]) VALUES (3, N'20333333333', N'AgroExport Perú SRL', N'AgroPerú', N'SRL', N'Luis Fernández Castro', N'Agroindustria', N'Av. Industrial 250', N'150113', N'014567893', N'contacto@agroperu.com', CAST(N'2018-02-08' AS Date), N'Activo', CAST(N'2018-03-01' AS Date), 75, 13)
SET IDENTITY_INSERT [dbo].[personas_juridicas] OFF
GO
SET IDENTITY_INSERT [dbo].[personas_naturales] ON 

INSERT [dbo].[personas_naturales] ([id], [numero_documento], [nombres], [apellido_paterno], [apellido_materno], [celular], [direccion], [ubigeo], [fecha_nacimiento], [estado_civil], [genero], [situacion_laboral], [cliente_id]) VALUES (3, N'12345678', N'Kevin', N'Rivera', N'Vergaray', N'987654123', N'Santa Anita- LIMA', N'234445', CAST(N'1996-02-02' AS Date), N'S', N'M', N'Desempleado', 1)
INSERT [dbo].[personas_naturales] ([id], [numero_documento], [nombres], [apellido_paterno], [apellido_materno], [celular], [direccion], [ubigeo], [fecha_nacimiento], [estado_civil], [genero], [situacion_laboral], [cliente_id]) VALUES (4, N'72345678', N'Juan', N'Pérez', N'Gómez', N'987654321', N'Av. Javier Prado 100', N'150101', CAST(N'1990-03-15' AS Date), N'C', N'M', N'Empleado', 11)
INSERT [dbo].[personas_naturales] ([id], [numero_documento], [nombres], [apellido_paterno], [apellido_materno], [celular], [direccion], [ubigeo], [fecha_nacimiento], [estado_civil], [genero], [situacion_laboral], [cliente_id]) VALUES (5, N'73456789', N'María', N'Torres', N'Rojas', N'987654322', N'Av. La Molina 230', N'150102', CAST(N'1988-05-12' AS Date), N'S', N'F', N'Independiente', 2)
SET IDENTITY_INSERT [dbo].[personas_naturales] OFF
GO
SET IDENTITY_INSERT [dbo].[productos_crediticios] ON 

INSERT [dbo].[productos_crediticios] ([id], [nombre], [monto_minimo], [monto_maximo], [tasa_interes_minima], [tasa_interes_maxima], [plazo_minimo_meses], [plazo_maximo_meses], [estado], [created_at], [updated_at], [deleted_at]) VALUES (1, N'Prestamo Personal', CAST(1000.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), CAST(10.50 AS Decimal(9, 2)), CAST(35.00 AS Decimal(9, 2)), 6, 60, N'activo', CAST(N'2026-05-22T21:23:56.950' AS DateTime), CAST(N'2026-05-22T21:23:56.950' AS DateTime), NULL)
INSERT [dbo].[productos_crediticios] ([id], [nombre], [monto_minimo], [monto_maximo], [tasa_interes_minima], [tasa_interes_maxima], [plazo_minimo_meses], [plazo_maximo_meses], [estado], [created_at], [updated_at], [deleted_at]) VALUES (2, N'Credito Hipotecario', CAST(50000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), CAST(7.50 AS Decimal(9, 2)), CAST(15.00 AS Decimal(9, 2)), 60, 360, N'activo', CAST(N'2026-05-22T21:23:56.950' AS DateTime), CAST(N'2026-05-22T21:23:56.950' AS DateTime), NULL)
INSERT [dbo].[productos_crediticios] ([id], [nombre], [monto_minimo], [monto_maximo], [tasa_interes_minima], [tasa_interes_maxima], [plazo_minimo_meses], [plazo_maximo_meses], [estado], [created_at], [updated_at], [deleted_at]) VALUES (3, N'Credito Vehicular', CAST(10000.00 AS Decimal(18, 2)), CAST(120000.00 AS Decimal(18, 2)), CAST(8.50 AS Decimal(9, 2)), CAST(18.00 AS Decimal(9, 2)), 12, 72, N'activo', CAST(N'2026-05-22T21:23:56.950' AS DateTime), CAST(N'2026-05-22T21:23:56.950' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[productos_crediticios] OFF
GO
SET IDENTITY_INSERT [dbo].[solicitudes] ON 

INSERT [dbo].[solicitudes] ([id], [cliente_id], [producto_crediticio_id], [codigo_solicitud], [fecha_solicitud], [monto_solicitado], [moneda_solicitada], [estado]) VALUES (1, 1, 1, N'SOL-00001', CAST(N'2025-08-27T21:30:02.983' AS DateTime), CAST(18736.00 AS Decimal(18, 2)), N'USD', N'en evaluacion')
INSERT [dbo].[solicitudes] ([id], [cliente_id], [producto_crediticio_id], [codigo_solicitud], [fecha_solicitud], [monto_solicitado], [moneda_solicitada], [estado]) VALUES (2, 2, 2, N'SOL-00002', CAST(N'2025-07-15T21:30:02.983' AS DateTime), CAST(11847.00 AS Decimal(18, 2)), N'EUR', N'aprobada')
INSERT [dbo].[solicitudes] ([id], [cliente_id], [producto_crediticio_id], [codigo_solicitud], [fecha_solicitud], [monto_solicitado], [moneda_solicitada], [estado]) VALUES (3, 3, 3, N'SOL-00003', CAST(N'2025-09-01T21:30:02.983' AS DateTime), CAST(16551.00 AS Decimal(18, 2)), N'PEN', N'desestimado')
SET IDENTITY_INSERT [dbo].[solicitudes] OFF
GO
SET IDENTITY_INSERT [dbo].[tipos_cuenta] ON 

INSERT [dbo].[tipos_cuenta] ([id], [nombre], [descripcion]) VALUES (1, N'Cuenta Ahorro', N'Cuenta de ahorro para personas naturales')
INSERT [dbo].[tipos_cuenta] ([id], [nombre], [descripcion]) VALUES (2, N'Cuenta Corriente', N'Cuenta para operaciones frecuentes')
INSERT [dbo].[tipos_cuenta] ([id], [nombre], [descripcion]) VALUES (3, N'Cuenta Sueldo', N'Cuenta para depósitos de planilla')
SET IDENTITY_INSERT [dbo].[tipos_cuenta] OFF
GO
/****** Object:  Index [UQ__creditos__542BD6210BACAD66]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[creditos] ADD UNIQUE NONCLUSTERED 
(
	[numero_credito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__creditos__ADA860D3C1D6E53F]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[creditos] ADD UNIQUE NONCLUSTERED 
(
	[evaluacion_crediticia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__cuentas__39D94CE1E40B2079]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[cuentas] ADD UNIQUE NONCLUSTERED 
(
	[num_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__cuentas__5E3545FECFF4A019]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[cuentas] ADD UNIQUE NONCLUSTERED 
(
	[num_tarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__cuentas__D83661E8536CBB04]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[cuentas] ADD UNIQUE NONCLUSTERED 
(
	[cci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_cuentas_clientes]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[cuentas_clientes] ADD  CONSTRAINT [UQ_cuentas_clientes] UNIQUE NONCLUSTERED 
(
	[cliente_id] ASC,
	[cuenta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_credito_num_cuota]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[cuotas] ADD  CONSTRAINT [UQ_credito_num_cuota] UNIQUE NONCLUSTERED 
(
	[credito_id] ASC,
	[num_cuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__pagos__65E41E4BD2832D1E]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[pagos] ADD UNIQUE NONCLUSTERED 
(
	[num_operacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__personas__47E34D65C7D5567C]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[personas_juridicas] ADD UNIQUE NONCLUSTERED 
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__personas__C2B74E617080A865]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[personas_juridicas] ADD UNIQUE NONCLUSTERED 
(
	[ruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__personas__2E4973E7CEAFA481]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[personas_naturales] ADD UNIQUE NONCLUSTERED 
(
	[celular] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__personas__47E34D655C2B846E]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[personas_naturales] ADD UNIQUE NONCLUSTERED 
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__personas__7B886A63C3CABDE3]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[personas_naturales] ADD UNIQUE NONCLUSTERED 
(
	[numero_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producto__72AFBCC66F0C430B]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[productos_crediticios] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_solicitudes_codigo]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[solicitudes] ADD  CONSTRAINT [UQ_solicitudes_codigo] UNIQUE NONCLUSTERED 
(
	[codigo_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tipos_cu__72AFBCC65C10F2BE]    Script Date: 22/05/2026 22:05:46 ******/
ALTER TABLE [dbo].[tipos_cuenta] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD FOREIGN KEY([cuenta_id])
REFERENCES [dbo].[cuentas] ([id])
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD  CONSTRAINT [FK_creditos] FOREIGN KEY([evaluacion_crediticia_id])
REFERENCES [dbo].[evaluaciones_crediticias] ([id])
GO
ALTER TABLE [dbo].[creditos] CHECK CONSTRAINT [FK_creditos]
GO
ALTER TABLE [dbo].[cuentas]  WITH CHECK ADD  CONSTRAINT [fk_tipos_cuenta] FOREIGN KEY([tipo_cuenta_id])
REFERENCES [dbo].[tipos_cuenta] ([id])
GO
ALTER TABLE [dbo].[cuentas] CHECK CONSTRAINT [fk_tipos_cuenta]
GO
ALTER TABLE [dbo].[cuentas_clientes]  WITH CHECK ADD  CONSTRAINT [fk_cliente_cuentas] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[cuentas_clientes] CHECK CONSTRAINT [fk_cliente_cuentas]
GO
ALTER TABLE [dbo].[cuentas_clientes]  WITH CHECK ADD  CONSTRAINT [fk_cuentas_cliente] FOREIGN KEY([cuenta_id])
REFERENCES [dbo].[cuentas] ([id])
GO
ALTER TABLE [dbo].[cuentas_clientes] CHECK CONSTRAINT [fk_cuentas_cliente]
GO
ALTER TABLE [dbo].[cuotas]  WITH CHECK ADD  CONSTRAINT [FK_cuotas_creditos] FOREIGN KEY([credito_id])
REFERENCES [dbo].[creditos] ([id])
GO
ALTER TABLE [dbo].[cuotas] CHECK CONSTRAINT [FK_cuotas_creditos]
GO
ALTER TABLE [dbo].[detalle_cuotas_pagos]  WITH CHECK ADD FOREIGN KEY([cuota_id])
REFERENCES [dbo].[cuotas] ([id])
GO
ALTER TABLE [dbo].[detalle_cuotas_pagos]  WITH CHECK ADD FOREIGN KEY([pago_id])
REFERENCES [dbo].[pagos] ([id])
GO
ALTER TABLE [dbo].[evaluaciones_crediticias]  WITH CHECK ADD  CONSTRAINT [FK_evaluaciones_solicitudes] FOREIGN KEY([solicitud_id])
REFERENCES [dbo].[solicitudes] ([id])
GO
ALTER TABLE [dbo].[evaluaciones_crediticias] CHECK CONSTRAINT [FK_evaluaciones_solicitudes]
GO
ALTER TABLE [dbo].[personas_juridicas]  WITH CHECK ADD  CONSTRAINT [fk_clientes_persona_juridica] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[personas_juridicas] CHECK CONSTRAINT [fk_clientes_persona_juridica]
GO
ALTER TABLE [dbo].[personas_naturales]  WITH CHECK ADD  CONSTRAINT [fk_clientes_persona_natural] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[personas_naturales] CHECK CONSTRAINT [fk_clientes_persona_natural]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [FK_solicitudes_clientes] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [FK_solicitudes_clientes]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [FK_solicitudes_productos_crediticios] FOREIGN KEY([producto_crediticio_id])
REFERENCES [dbo].[productos_crediticios] ([id])
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [FK_solicitudes_productos_crediticios]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD CHECK  (([tipo_cliente]='J' OR [tipo_cliente]='N'))
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD CHECK  (([estado]='refinanciado' OR [estado]='Cancelado' OR [estado]='vigente' OR [estado]='desembolsado'))
GO
ALTER TABLE [dbo].[cuentas]  WITH CHECK ADD CHECK  (([moneda]='EUR' OR [moneda]='USD' OR [moneda]='PEN'))
GO
ALTER TABLE [dbo].[cuotas]  WITH CHECK ADD  CONSTRAINT [chk_saldo_cuota] CHECK  (([saldo_cuota]<=(([capital]+[intereses])+[seguros])))
GO
ALTER TABLE [dbo].[cuotas] CHECK CONSTRAINT [chk_saldo_cuota]
GO
ALTER TABLE [dbo].[cuotas]  WITH CHECK ADD  CONSTRAINT [chk_total_cuota] CHECK  (([total_cuota]=(([capital]+[intereses])+[seguros])))
GO
ALTER TABLE [dbo].[cuotas] CHECK CONSTRAINT [chk_total_cuota]
GO
ALTER TABLE [dbo].[cuotas]  WITH CHECK ADD CHECK  (([estado]='refinanciada' OR [estado]='pagada parcialmente' OR [estado]='pendiente' OR [estado]='pagada'))
GO
ALTER TABLE [dbo].[personas_juridicas]  WITH CHECK ADD CHECK  (([estado_empresa]='En liquidación' OR [estado_empresa]='Suspendido' OR [estado_empresa]='Inactivo' OR [estado_empresa]='Activo'))
GO
ALTER TABLE [dbo].[personas_juridicas]  WITH CHECK ADD CHECK  (([tipo_empresa]='SAA' OR [tipo_empresa]='EIRL' OR [tipo_empresa]='SRL' OR [tipo_empresa]='SAC' OR [tipo_empresa]='SA'))
GO
ALTER TABLE [dbo].[personas_naturales]  WITH CHECK ADD CHECK  (([estado_civil]='D' OR [estado_civil]='C' OR [estado_civil]='S'))
GO
ALTER TABLE [dbo].[personas_naturales]  WITH CHECK ADD CHECK  (([genero]='F' OR [genero]='M'))
GO
ALTER TABLE [dbo].[personas_naturales]  WITH CHECK ADD CHECK  (([situacion_laboral]='No consigna' OR [situacion_laboral]='Desempleado' OR [situacion_laboral]='Independiente' OR [situacion_laboral]='Empleado'))
GO
ALTER TABLE [dbo].[productos_crediticios]  WITH CHECK ADD CHECK  (([estado]='implementandose' OR [estado]='inactivo' OR [estado]='activo'))
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [CHK_moneda_solicitada] CHECK  (([moneda_solicitada]='EUR' OR [moneda_solicitada]='USD' OR [moneda_solicitada]='PEN'))
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [CHK_moneda_solicitada]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [CHK_monto_solicitado] CHECK  (([monto_solicitado]>=(1000)))
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [CHK_monto_solicitado]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD CHECK  (([estado]='en evaluacion' OR [estado]='desestimado' OR [estado]='aprobada' OR [estado]='ingresado'))
GO
USE [master]
GO
