USE [master]
GO
/****** Object:  Database [pdan_bd_sistema_riesgo_crediticio]    Script Date: 15/05/2026 21:20:21 ******/
CREATE DATABASE [pdan_bd_sistema_riesgo_crediticio]
 CONTAINMENT = NONE
 ON  PRIMARY 

ALTER DATABASE [pdan_bd_sistema_riesgo_crediticio] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pdan_bd_sistema_riesgo_crediticio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pdan_bd_sistema_riesgo_crediticio]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 15/05/2026 21:20:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_cliente] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[creditos]    Script Date: 15/05/2026 21:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[creditos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[evaluacion_crediticia_id] [int] NOT NULL,
	[monto] [decimal](18, 2) NOT NULL,
	[plazo_meses] [int] NOT NULL,
	[tea] [decimal](10, 2) NOT NULL,
	[tcea] [decimal](10, 2) NOT NULL,
	[valor_cuota] [decimal](18, 2) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[fecha_desembolso] [datetime] NOT NULL,
	[numero_credito] [int] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[estado] [varchar](100) NOT NULL,
	[saldo_credito] [decimal](18, 2) NOT NULL,
	[desgravamen] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_credito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[evaluacion_crediticia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuentas]    Script Date: 15/05/2026 21:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[num_cuenta] [varchar](50) NOT NULL,
	[cci] [varchar](55) NOT NULL,
	[num_tarjeta] [varchar](30) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[moneda] [varchar](50) NOT NULL,
	[saldo] [decimal](18, 2) NOT NULL,
	[tipo_cuenta_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[num_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[num_tarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuentas_clientes]    Script Date: 15/05/2026 21:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas_clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[cuenta_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_cuentas_clientes] UNIQUE NONCLUSTERED 
(
	[cliente_id] ASC,
	[cuenta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuotas]    Script Date: 15/05/2026 21:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuotas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[credito_id] [int] NOT NULL,
	[num_cuota] [int] NOT NULL,
	[fecha_vencimiento] [datetime] NOT NULL,
	[capital] [decimal](18, 2) NOT NULL,
	[intereses] [decimal](18, 2) NOT NULL,
	[seguros] [decimal](18, 2) NOT NULL,
	[total_cuota] [decimal](18, 2) NOT NULL,
	[estado] [varchar](30) NOT NULL,
	[tasa_mora] [decimal](10, 2) NOT NULL,
	[saldo_cuota] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_credito_num_cuota] UNIQUE NONCLUSTERED 
(
	[credito_id] ASC,
	[num_cuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_cuotas_pagos]    Script Date: 15/05/2026 21:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_cuotas_pagos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cuota_id] [int] NOT NULL,
	[pago_id] [int] NOT NULL,
	[monto_pagado] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluaciones_crediticias]    Script Date: 15/05/2026 21:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluaciones_crediticias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[solicitud_id] [int] NOT NULL,
	[score_riesgo] [decimal](10, 2) NOT NULL,
	[nivel_endeudamiento] [decimal](10, 2) NOT NULL,
	[deuda_activa] [decimal](18, 2) NOT NULL,
	[deuda_activa_otras_entidades] [decimal](18, 2) NOT NULL,
	[linea_credito] [decimal](18, 2) NOT NULL,
	[linea_credito_otras_entidades] [decimal](18, 2) NOT NULL,
	[valor_patrimonio] [decimal](18, 2) NOT NULL,
	[ingresos_mensuales] [decimal](18, 2) NOT NULL,
	[resultado] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 15/05/2026 21:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[num_operacion] [varchar](50) NULL,
	[monto] [decimal](18, 2) NULL,
	[fecha_pago] [datetime] NULL,
	[metodo_pago] [varchar](50) NULL,
	[observaciones] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[num_operacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personas_juridicas]    Script Date: 15/05/2026 21:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas_juridicas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ruc] [varchar](11) NOT NULL,
	[razon_social] [varchar](255) NOT NULL,
	[nombre_comercial] [varchar](255) NULL,
	[tipo_empresa] [varchar](100) NOT NULL,
	[representante_legal] [varchar](200) NOT NULL,
	[sector_economico] [varchar](100) NULL,
	[direccion] [varchar](255) NOT NULL,
	[ubigeo] [char](6) NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](255) NULL,
	[fecha_constitucion] [date] NOT NULL,
	[estado_empresa] [varchar](50) NOT NULL,
	[inicio_actividades] [date] NOT NULL,
	[numero_empleados] [int] NULL,
	[cliente_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personas_naturales]    Script Date: 15/05/2026 21:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas_naturales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero_documento] [varchar](15) NOT NULL,
	[nombres] [varchar](255) NOT NULL,
	[apellido_paterno] [varchar](255) NOT NULL,
	[apellido_materno] [varchar](255) NOT NULL,
	[celular] [varchar](20) NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[ubigeo] [char](6) NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[estado_civil] [varchar](10) NOT NULL,
	[genero] [varchar](10) NOT NULL,
	[situacion_laboral] [varchar](100) NULL,
	[cliente_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[celular] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos_crediticios]    Script Date: 15/05/2026 21:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos_crediticios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](155) NOT NULL,
	[monto_minimo] [decimal](18, 2) NOT NULL,
	[monto_maximo] [decimal](18, 2) NOT NULL,
	[tasa_interes_minima] [decimal](9, 2) NOT NULL,
	[tasa_interes_maxima] [decimal](9, 2) NOT NULL,
	[plazo_minimo_meses] [int] NOT NULL,
	[plazo_maximo_meses] [int] NOT NULL,
	[estado] [varchar](55) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solicitudes]    Script Date: 15/05/2026 21:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solicitudes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[producto_crediticio_id] [int] NOT NULL,
	[codigo_solicitud] [varchar](50) NOT NULL,
	[fecha_solicitud] [datetime] NOT NULL,
	[monto_solicitado] [decimal](18, 2) NOT NULL,
	[moneda_solicitada] [varchar](10) NOT NULL,
	[estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_solicitudes_codigo] UNIQUE NONCLUSTERED 
(
	[codigo_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_cuenta]    Script Date: 15/05/2026 21:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_cuenta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD  CONSTRAINT [FK_creditos] FOREIGN KEY([evaluacion_crediticia_id])
REFERENCES [dbo].[evaluaciones_crediticias] ([id])
GO
ALTER TABLE [dbo].[creditos] CHECK CONSTRAINT [FK_creditos]
GO
ALTER TABLE [dbo].[cuentas]  WITH CHECK ADD  CONSTRAINT [fk_tipos_cuenta] FOREIGN KEY([tipo_cuenta_id])
REFERENCES [dbo].[tipos_cuenta] ([id])
GO
ALTER TABLE [dbo].[cuentas] CHECK CONSTRAINT [fk_tipos_cuenta]
GO
ALTER TABLE [dbo].[cuentas_clientes]  WITH CHECK ADD  CONSTRAINT [fk_cliente_cuentas] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[cuentas_clientes] CHECK CONSTRAINT [fk_cliente_cuentas]
GO
ALTER TABLE [dbo].[cuentas_clientes]  WITH CHECK ADD  CONSTRAINT [fk_cuentas_cliente] FOREIGN KEY([cuenta_id])
REFERENCES [dbo].[cuentas] ([id])
GO
ALTER TABLE [dbo].[cuentas_clientes] CHECK CONSTRAINT [fk_cuentas_cliente]
GO
ALTER TABLE [dbo].[cuotas]  WITH CHECK ADD  CONSTRAINT [FK_cuotas_creditos] FOREIGN KEY([credito_id])
REFERENCES [dbo].[creditos] ([id])
GO
ALTER TABLE [dbo].[cuotas] CHECK CONSTRAINT [FK_cuotas_creditos]
GO
ALTER TABLE [dbo].[detalle_cuotas_pagos]  WITH CHECK ADD FOREIGN KEY([cuota_id])
REFERENCES [dbo].[cuotas] ([id])
GO
ALTER TABLE [dbo].[detalle_cuotas_pagos]  WITH CHECK ADD FOREIGN KEY([pago_id])
REFERENCES [dbo].[pagos] ([id])
GO
ALTER TABLE [dbo].[evaluaciones_crediticias]  WITH CHECK ADD  CONSTRAINT [FK_evaluaciones_solicitudes] FOREIGN KEY([solicitud_id])
REFERENCES [dbo].[solicitudes] ([id])
GO
ALTER TABLE [dbo].[evaluaciones_crediticias] CHECK CONSTRAINT [FK_evaluaciones_solicitudes]
GO
ALTER TABLE [dbo].[personas_juridicas]  WITH CHECK ADD  CONSTRAINT [fk_clientes_persona_juridica] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[personas_juridicas] CHECK CONSTRAINT [fk_clientes_persona_juridica]
GO
ALTER TABLE [dbo].[personas_naturales]  WITH CHECK ADD  CONSTRAINT [fk_clientes_persona_natural] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[personas_naturales] CHECK CONSTRAINT [fk_clientes_persona_natural]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [FK_solicitudes_clientes] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [FK_solicitudes_clientes]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [FK_solicitudes_productos_crediticios] FOREIGN KEY([producto_crediticio_id])
REFERENCES [dbo].[productos_crediticios] ([id])
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [FK_solicitudes_productos_crediticios]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD CHECK  (([tipo_cliente]='J' OR [tipo_cliente]='N'))
GO
ALTER TABLE [dbo].[creditos]  WITH CHECK ADD CHECK  (([estado]='refinanciado' OR [estado]='Cancelado' OR [estado]='vigente' OR [estado]='desembolsado'))
GO
ALTER TABLE [dbo].[cuentas]  WITH CHECK ADD CHECK  (([moneda]='EUR' OR [moneda]='USD' OR [moneda]='PEN'))
GO
ALTER TABLE [dbo].[cuotas]  WITH CHECK ADD  CONSTRAINT [chk_saldo_cuota] CHECK  (([saldo_cuota]<=(([capital]+[intereses])+[seguros])))
GO
ALTER TABLE [dbo].[cuotas] CHECK CONSTRAINT [chk_saldo_cuota]
GO
ALTER TABLE [dbo].[cuotas]  WITH CHECK ADD  CONSTRAINT [chk_total_cuota] CHECK  (([total_cuota]=(([capital]+[intereses])+[seguros])))
GO
ALTER TABLE [dbo].[cuotas] CHECK CONSTRAINT [chk_total_cuota]
GO
ALTER TABLE [dbo].[cuotas]  WITH CHECK ADD CHECK  (([estado]='refinanciada' OR [estado]='pagada parcialmente' OR [estado]='pendiente' OR [estado]='pagada'))
GO
ALTER TABLE [dbo].[personas_juridicas]  WITH CHECK ADD CHECK  (([estado_empresa]='En liquidación' OR [estado_empresa]='Suspendido' OR [estado_empresa]='Inactivo' OR [estado_empresa]='Activo'))
GO
ALTER TABLE [dbo].[personas_juridicas]  WITH CHECK ADD CHECK  (([tipo_empresa]='SAA' OR [tipo_empresa]='EIRL' OR [tipo_empresa]='SRL' OR [tipo_empresa]='SAC' OR [tipo_empresa]='SA'))
GO
ALTER TABLE [dbo].[personas_naturales]  WITH CHECK ADD CHECK  (([estado_civil]='D' OR [estado_civil]='C' OR [estado_civil]='S'))
GO
ALTER TABLE [dbo].[personas_naturales]  WITH CHECK ADD CHECK  (([genero]='F' OR [genero]='M'))
GO
ALTER TABLE [dbo].[personas_naturales]  WITH CHECK ADD CHECK  (([situacion_laboral]='No consigna' OR [situacion_laboral]='Desempleado' OR [situacion_laboral]='Independiente' OR [situacion_laboral]='Empleado'))
GO
ALTER TABLE [dbo].[productos_crediticios]  WITH CHECK ADD CHECK  (([estado]='implementandose' OR [estado]='inactivo' OR [estado]='activo'))
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [CHK_moneda_solicitada] CHECK  (([moneda_solicitada]='EUR' OR [moneda_solicitada]='USD' OR [moneda_solicitada]='PEN'))
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [CHK_moneda_solicitada]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [CHK_monto_solicitado] CHECK  (([monto_solicitado]>=(1000)))
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [CHK_monto_solicitado]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD CHECK  (([estado]='en evaluacion' OR [estado]='desestimado' OR [estado]='aprobada' OR [estado]='ingresado'))
GO
USE [master]
GO
